.slider-container {
   /* 슬라이더 컨테이너 스타일 */
}

.slick-list {
   width: 700px; /* 슬라이드 항목의 총 너비 */
}

.slider-content {
   width: 195px; /* 각 슬라이드의 너비 */
}
.slick-prev:before,
.slick-next:before {
   display: none;
}
